<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <Identity Name="NovaCraftPE.NovaBroadcast"
            Publisher="CN=3A56586C-7C37-4278-836E-1010006963D6"
            Version="1.0.0.0" />

  <TitleId>690D1C50</TitleId>
  <MSAAppId>000000004D95DE06</MSAAppId>
  <StoreId>9PJVWZTCS8JH</StoreId>

  <ExecutableList>
    <Executable Name="NovaBroadcastGdkHelper.exe"
                TargetDeviceFamily="PC"
                Id="Game" />
  </ExecutableList>
</Game>
